# USGS 03335500 WABASH RIVER AT LAFAYETTE, IN - Discharge Data


* https://waterdata.usgs.gov/in/nwis/uv?site_no=03335500
* Dates used - 2001-10-01 - 2017-09-31
* produced for [Converting Matlab Script to Python - stack overflow](https://stackoverflow.com/questions/52139479/converting-matlab-script-to-python/52141986#52141986)

In [1]:
import pandas as pd

In [2]:
pd.set_option('max_rows', 3000)

In [3]:
df = pd.read_csv('WabashRiver_Flow.csv', parse_dates=['datetime'])

In [4]:
df = df.dropna()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 282757 entries, 0 to 282756
Data columns (total 5 columns):
agency_cd         282757 non-null object
site_no           282757 non-null int64
datetime          282757 non-null datetime64[ns]
tz_cd             282757 non-null object
discharge_cfps    282757 non-null int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 12.9+ MB

In [6]:
df['discharge_cfps'].describe()

count    282757.000000
mean       9193.575954
std        9823.518919
min         674.000000
25%        2720.000000
50%        5300.000000
75%       12200.000000
max       82500.000000
Name: discharge_cfps, dtype: float64

In [7]:
df.head()

  agency_cd  site_no            datetime tz_cd  discharge_cfps
0      USGS  3335500 2001-10-01 00:00:00   EST            2610
1      USGS  3335500 2001-10-01 01:00:00   EST            2610
2      USGS  3335500 2001-10-01 02:00:00   EST            2610
3      USGS  3335500 2001-10-01 03:00:00   EST            2630
4      USGS  3335500 2001-10-01 04:00:00   EST            2630

# Write a function to determine the correct water year

In [8]:
def calc_water_year(date):
    date = pd.to_datetime(date)
    if 10 <= date.month <= 12:
        water_year = date.year + 1
        return water_year
    else:
        return date.year

In [9]:
def calc_water_year_apply(df):
    df['water_year'] = df.datetime.apply(lambda row: calc_water_year(row))

In [10]:
calc_water_year_apply(df)

In [11]:
df.head()

  agency_cd  site_no            datetime tz_cd  discharge_cfps  water_year
0      USGS  3335500 2001-10-01 00:00:00   EST            2610        2002
1      USGS  3335500 2001-10-01 01:00:00   EST            2610        2002
2      USGS  3335500 2001-10-01 02:00:00   EST            2610        2002
3      USGS  3335500 2001-10-01 03:00:00   EST            2630        2002
4      USGS  3335500 2001-10-01 04:00:00   EST            2630        2002

# Calculate the mean

In [14]:
annual_mean_discharge_rate = df.groupby('water_year')[['discharge_cfps']].mean()

In [15]:
annual_mean_discharge_rate

            discharge_cfps
water_year
2002           9379.829589
2003           8678.468324
2004           8562.505005
2005           8928.776256
2006           6710.805312
2007          10331.564789
2008          10626.336623
2009           8972.046607
2010           5298.569557
2011          10519.540869
2012           9013.624424
2013           9007.924205
2014           9079.561658
2015          12267.393776
2016           6445.875810
2017          10240.721464